body {
    font-family: 'Source Serif Pro', serif; 
    background-color: #fffffe;
    padding-top: 70px;
}

.btn-outline {
    background-color: #F1BDB2;
    color: #fff;
    border: 2px solid #F1BDB2;
}

.btn-outline:hover {
    background-color: transparent;
    color: #F1BDB2;
    border-color: #F1BDB2;
}

h5, span, label {
    color: #9F6B46;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(159, 107, 70, 0.2);
    border-radius: 50%;
}

.card-header {
    background: rgba(159, 107, 70, 0.2);
}

.nav-link.active {
    color: #9F6B46 !important;
}

/* navber */
.brand-text {
    font-family: 'Source Serif Pro', serif;
    color: #4a3b2d;
    font-style: italic;
    letter-spacing: 0.5px;
}

.nav-text-brown {
    color: #9F6B46 !important;
    font-weight: 500;
}

.menu-link {
    display: flex;
    align-items: center;       
    justify-content: center; 
    color: #9F6B46;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

/* edit profile */
.edit-profile-page .form-control::placeholder {
    color: #C9A28C !important;
}

/* create post */
.form-control.post-input:hover,
.form-select.post-input:hover,
.form-control.post-input:focus,
.form-select.post-input:focus {
    border-color: #9F6B46;
    box-shadow: 0 0 0 0.2rem rgba(159,107,70,0.25);
}

/* analytics */
.card {
    border: 1px solid #9F6B46;
    background-color: #FFFFFF;
}

.card h4  {
    color: #F1BDB2;
}

div > .text-followers {
    color: #F1BDB2;
}

div > .text-nonfollowers {
    color: #9F6B46;
}

.country-name > span {
    color: #000;
}

/* interests */
.category-label {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
}

