body {
    font-family: 'Source Serif Pro', serif; 
    background-color: #fffffe;
    padding-top: 70px;
}

.btn-outline {
    background-color: #F1BDB2;
    color: #fff;
    border: 2px solid #F1BDB2;
}

.btn-outline:hover {
    background-color: transparent;
    color: #F1BDB2;
    border-color: #F1BDB2;
}

h5, span, label {
    color: #9F6B46;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(159, 107, 70, 0.2);
    border-radius: 50%;
}

.card-header {
    background: rgba(159, 107, 70, 0.2);
}

.nav-link.active {
    color: #9F6B46 !important;
}

/* navber */
.brand-text {
    font-family: 'Source Serif Pro', serif;
    color: #4a3b2d;
    font-style: italic;
    letter-spacing: 0.5px;
}

.nav-text-brown {
    color: #9F6B46 !important;
    font-weight: 500;
}

.menu-link {
    display: flex;
    align-items: center;       
    justify-content: center; 
    color: #9F6B46;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

/* edit profile */
.edit-profile-page .form-control::placeholder {
    color: #C9A28C !important;
}

/* create edit post */
.form-control.post-input:hover,
.form-select.post-input:hover,
.form-control.post-input:focus,
.form-select.post-input:focus {
    border-color: #9F6B46;
    box-shadow: 0 0 0 0.2rem rgba(159,107,70,0.25);
}

.image-preview-area {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
}
.image-item {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.remove-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #9F6B46;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.image-btn {
    background-color: #F8F8F8;
    border: 1px solid #9F6B46;
    color: #9F6B46;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

#cost-slider::-webkit-slider-runnable-track { 
    height: 6px; 
    background: #F8C7B3;
    border-radius: 5px; 
}
#cost-slider::-webkit-slider-thumb { 
    appearance: none; 
    width: 18px; 
    height: 18px; 
    margin-top: -6px; 
    border-radius: 50%; 
    background-color: #9F6B46; 
    border: 2px solid white; 
    cursor: pointer; 
    transition: transform 0.2s ease; 
} 
#cost-slider::-webkit-slider-thumb:hover { 
    transform: scale(1.1); 
}

/* analytics */
.card {
    border: 1px solid #9F6B46;
    background-color: #FFFFFF;
}

.card h4  {
    color: #F1BDB2;
}

div > .text-followers {
    color: #F1BDB2;
}

div > .text-nonfollowers {
    color: #9F6B46;
}

.country-name > span {
    color: #000;
}

/* interests */
.category-label {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
}