@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    color: #9F6B46;
}

.nav-tabs-wrapper {
  overflow-x: auto;                 
  -webkit-overflow-scrolling: touch;
}

.nav-tabs {
  border-bottom: 2px solid #ddd;
  margin-bottom: 0;
}

.custom-tabs {
  align-items: stretch;
  border-bottom: 2px solid #ddd;
}

.nav-item {
  flex: 1;
}

.tab-item {
  flex: 1 1 0%;         
  max-width: none;
  text-align: center;
}

.tab-btn {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background: #fff;
  color: #9F6B46;
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all .18s ease;
  white-space: nowrap;
}

.tab-btn:hover {
  color: #fff;
  background-color: #9F6B46;
}

.tab-btn.active {
  background: #9F6B46;
  color: #fff;
  top: -2px;
  position: relative;
  z-index: 3;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.12);
  border-bottom: none;
}

@media (min-width: 768px) {

  .custom-tabs {
    justify-content: flex-start; 
  }
  
  .tab-item {
    flex: 0 0 auto;    
    width: 150px;      
    max-width: 150px; 
  }

  .tab-btn { text-align: center; }
}

/* pagenation */
.pagination {
    justify-content: center;
}

/* standard */
.page-link {
    color:  #9F6B46;
    border: 1px solid #dee2e6;
    transition: all 0.2s ease-in-out;
}

/* hover */
.page-link:hover {
    background-color: #F1BDB2; 
    color: #ffffff;
    border-color: #ffffff;
}

/* active */
.page-item.active .page-link {
    background-color: #F1BDB2;
    border-color: #FFFBEB;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* not active（disabled） */
.page-item.disabled .page-link {
    color: #9F6B46;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.message-users{
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.message-users p{
    color: #A9A9A9;
}

.message-users:hover{
    background-color:#F1BDB2;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.message-users:hover p{
    color: #9F6B46;
}

.message-users .notice{
    background-color: #F1BDB2;
}

.message-users:hover .notice{
    background-color: #ffffff;
}

.message-users i{
    color: #F1BDB2;
}

.message-users:hover i{
    color: #ffffff;
}

.user-list-scroll {
    max-height: 300px; 
    overflow-y: auto;  
    padding-right: 5px; 
}

.message-board{
    background-color: #FFFBEB;
    width: 100%;
    height: 545px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.following-btn{
    font-size: 16px;
    color: #ffffff;
    background-color: #F1BDB2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.2s ease;
}

.following-btn:hover{
    font-size: 16px;
    color: #F1BDB2;
    background-color: #ffffff;
    border-color: #F1BDB2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 0.2s ease;
}

.follow-tab .nav-link {
    color:#F1BDB2;               
    background-color: #ffffff;   
    border: 1px solid #F1BDB2;
    border-radius: 8px 8px 0 0;  
    transition: background-color 0.2s, color 0.2s;
}

.follow-tab .nav-link:hover {
    background-color: #f1bdb2;
    color: #ffffff;
}

.follow-tab .nav-link.active {
    background-color: #F1BDB2;
    color: #ffffff;
    border-color:#f1bdb2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.follow-btn{
    color: #F1BDB2;
    background-color: #ffffff;
    border-color: #F1BDB2;
    transition: all 0.2s ease;
}

.follow-btn:hover{
    color: #ffffff;
    background-color: #F1BDB2;
    
}
